{% extends "base.twig" %}
{% block content %}

<div class="TypeTester">

<h1 class="h1 orange">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at.</p>

<h2 class="h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at.</p>
<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at. Cras sit amet nibh libero, <em>in gravida nulla.</em> Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. <a href="#">Dolor tenetur</a> saepe voluptatem iure suscipit hic labore, consequuntur cum at.</p>

<hr>

<h3 class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at.</p>

<h4 class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>

<h5 class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>

<h6 class="h6 caps spaced orange">World News</h6>

</div>

{% endblock %}
