html,
body {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: $half;
}

p {
  margin: 0;
  margin-bottom: $single;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

abbr[title] {
  text-decoration: initial;
  border-bottom: 1px dotted #999;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: $list-padding-left;
}

ul {
  list-style-type: $list-style-type-ul-first;
  ul {
    list-style-type: $list-style-type-ul-second;
    ul {
      list-style-type: $list-style-type-ul-third;
    }
  }
}

ol {
  list-style-type: $list-style-type-ol-first;
  ol {
    list-style-type: $list-style-type-ol-second;
    ol {
      list-style-type: $list-style-type-ol-third;
    }
  }
}

ol ol, ul ul,
ol ul, ul ol {
  margin-bottom: 0;
}

blockquote {
  color: $gray;
  font-size: $font-size-h3;
  font-weight: $font-weight-light;
  margin: $single*3 auto;
  p {
    line-height: 1.45 !important;
    text-align: center;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

// All Links - no underline
a, a[href] {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// Default Links
a[href]:not([class]),
a[href^="mailto"]:not([class]) {
  // @include hover($link-color, $link-hover-color);
  @include hover($brown);
  display: inline-block;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: $half;
}

button,
button:focus,
button:active {
  outline: 0 !important;
  outline: none !important;
}

input,
button,
select,
textarea {
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  margin: 0;
  display: block;
  font-size: inherit;
  padding: $quarter $threefourth;
  line-height: 1.5;
  color: $gray;
  display: block;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  &:focus {
    outline: none;
  }
}
input {
  font-family: inherit;
  font-size: 1rem;
  padding: $threefourth $threefourth;
  line-height: 1;
  transition: all .1s ease-out;
  &:focus {
    border: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: radio-container;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0 0 $single;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

hr {
  position: relative;
  display: block;
  border: 0;
  margin: $single 0;
  width: 100%;
  height: $single*2;
  @include from(md) {
    margin: $single*2 0;
  }
  &::before {
    content: '';
    display: block;
    width: 70px;  // 7 colors, 10px width each
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right,
      $brown 0, $brown 10px,
      $red 10px, $orange 20px,
      $green 20px, $green 30px,
      $metal 30px, $metal 40px,
      $green 40px, $green 50px,
      $maroon 50px, $maroon 60px,
      $brown 60px, $brown 70px
    );
  }
}

input[type="search"] {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

svg {
  fill: currentColor;
  size: $single;
}

// Input field placeholder
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $gray-lighter;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: 1;
  color: $gray-lighter;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: 1;
  color: $gray-lighter;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 1;
  color: $gray-lighter;
}
