//=============================================
// This file is strictly typography related
// (font-size, etc.) and stylistic classes.
//=============================================
html {
  font-family: $font-family;
  font-size: $font-size-root;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

body {
  text: $body $font-weight-normal none $font-size $line-height normal;
}

.h1 {
  text: $font-weight-light none $headings $font-size-h1 $headings-line-height normal;
}

.h2 {
  text: $font-weight-bold none $headings $font-size-h2 1.275 normal;
}

.h3 {
  text: $font-weight-bold none $headings $font-size-h3 1.4 normal;
}

.h4, .hlarge {
  text: $font-weight-medium none $headings $font-size-large 1.3 normal;
}
.large {
  font-size: $font-size-large;
}

.h5, .hregular {
  text: $font-weight-medium none $headings $font-size-regular $line-height normal;
}
.regular {
  font-size: $font-size-regular;
}

.h6, .hsmall {
  text: $font-weight-medium none $font-size-small 1 normal;
}
.small {
  font-size: $font-size-small;
}

.h7, .hmicro {
  text: $font-weight-medium none $font-size-micro 1 normal;
}
.micro {
  font-size: $font-size-micro;
}

//=============================================
// Stylistic Classes
//=============================================
// Weight
.light {
  font-weight: $font-weight-light;
}
.normal {
  font-weight: $font-weight-normal;
}
.medium, b, strong {
  font-weight: $font-weight-medium;
}
.bold {
  font-weight: $font-weight-bold;
}

// Decorations
.caps {
  text-transform: uppercase;
}
.spaced {
  letter-spacing: 1px;
}
.underline, u {
  @include underline;
  &--dark {
    @include underline(true);
  }
}
.lead {
  text: $font-weight-light none #999 1.388rem 1.5 normal;
  margin-bottom: $single*2;
}

// Alignments
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.italic {
  font-style: italic;
}
