//=============================================
// Utilities
//=============================================
.noLineHeight {
  line-height: 1;
}

.noScroll {
  overflow: hidden;
}

.noMargin {
  margin: 0 !important;
}
.quarterMargin {
  margin-bottom: $quarter;
}
.halfMargin {
  margin-bottom: $half;
}
.threefourthMargin {
  margin-bottom: $threefourth;
}
.singleMargin {
  margin-bottom: $single;
}

.noPadding {
  padding: 0;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

//=============================================
// Colors
//=============================================
.white {
  @include white;
}
.line {
  color: #bbbbbb;
}
.faint {
  color: $gray-lighter;
}
.body {
  color: $body;
}
.gray {
  color: $gray;
}
.dark-gray {
  color: $gray-darker;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}
.brown {
  color: $brown;
}
.metal {
  color: $metal;
}
.maroon {
  color: $maroon;
}

//=============================================
// Delete This!
//=============================================
.xdebug-var-dump {
  font-size: 14px;
}
