.SinglePage {
  padding: 0 $single*2.5;
  box: vertical;

  @include from(md) {
    // padding-bottom: $single*3;
  }
  @include from(xl) {
    // padding: $single*5 0;
    box: horizontal space-between;
  }

  &-content {
    width: 63%;
    @at-root .SinglePage--noSidebar #{&} {
      width: 92.5%;
    }
  }

  &-share {
    @include to(lg) {
      order: 2;
    }
  }

  &-sidebar {
    flex: 0 0 auto;
    overflow: hidden;
    @include from(lg) {
      width: 28.5%;
    }
  }

  &-toc {
    position: relative;
    border-top: 5px solid $brown;
    background-color: #f7f7f7;
    padding: $single*1.5 $single $single*2.25 $single*2;
    margin-bottom: $single*2;

    &::before {
      content: '';
      position: absolute;
      top: $single*1.85;
      left: 0;
      border-left: 12px solid white;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }

    &Content {
      position: relative;
      z-index: 1;

      .Link {
        padding: $quarter 0;
      }
    }

    &Pattern {
      position: absolute;
      bottom: 0;
      right: -20px;
      border-bottom: 125px solid rgba(0,0,0,0.025);
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: -125px;
        z-index: 0;
      }
      &::before {
        border-bottom: 100px solid rgba(255,255,255,0.3);
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;

      }
      &::after {
        border-bottom: 80px solid rgba(255,255,255,0.3);
        border-right: 80px solid transparent;
        border-left: 80px solid transparent;
        left: -200px;
      }
    }
  }

  &--noSidebar {
    box: vertical center;
    // Some components need smaller width when using the without-sidebar template
    [class="row"] > .column > .Editor {
      // In a one column layout, slim out editor
      max-width: $container-text-width;
      margin: 0 auto;
    }
  }
}
