.Block {
	@include cover;
	@include overlay(false, "to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.57) 27%, transparent 50%, transparent 100%");
	box: vertical bottom center;
	position: relative;
	height: $single*13;
	border-radius: 2px;
	overflow: hidden;
	width: 100%;

	&-title {
		line-height: 1.145;
		padding: $single $single*1.5 $single*1.5;
	}

	&-body {
		@include overlay(true, rgba(228,147,65,.92));
		@include hover($white, $white);
		position: absolute;
		top: 0;
		left: 0;
		size: 100%;
		box: vertical center middle;
		padding: $single $single*1.25;
		opacity: 0;
		visibility: 0;
		transform: translate3d(0, $single*4, 0);
		transition: all .2325s ease-out;
		will-change: opacity, visibility, transform;

		&Title {
			line-height: 1.3;
			margin-bottom: $half;
		}
		&Link {
			box: horizontal middle center;
			svg {
				size: $single*1.125;
				margin-left: $quarter;
			}
		}
	}

	&--hover {
		.Block-title {
			opacity: 0;
		}
		.Block-body{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	&--stripped {
		@include overlay(true, "rgba(0,0,0,0)");		
	}

	// Two adjacent blocks within the same column
	& + & {
		margin-top: $single*1.75;
	}
}
