.Dropdown {
  position: relative;
  border-radius: $single*1.75;
  color: $brown;
  background-color: #f4f5f2;
  transition: all .1s ease-in-out;

  select {
    width: 100%;
    position: relative;
    z-index: 1;
    border: 0;
    line-height: 1.3;
    padding: $half $single*2 $half $single*1.125;
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 10px;
    right: 13px;
    z-index: 0;
  }

  &:hover {
    background-color: #eee;
  }
}
