{% for section in sidebar_sections %}
  {% set callout = section.sidebar_section_options %}
  {% if callout == 'callout' %}
    {% if section.sidebar_section_color == 'type' %}
      {% set color = type_color %}
      <div class="{{'Sidebar-section'|modifiers("#{callout}, type")}}" style="background-color: {{color}}">
    {% else %}
      {% set color = section.sidebar_section_color %}
      <div class="{{'Sidebar-section'|modifiers("#{callout}, #{color}")}}">
    {% endif %}
  {% else %}
    <div class="Sidebar-section">
  {% endif %}

  {% for component in section.sidebar_components %}
    {% include 'components/' ~ component.acf_fc_layout ~ '.twig' with {'data': component} %}
  {% endfor %}
</div>
{% endfor %}
