//=============================================
// Colors
//=============================================
$black:                        #000000 !default;
$white:                        #ffffff !default;
$body:                         #222222 !default;
$headings:                     #111111 !default;
$gray:                         #666666 !default;
$gray-lighter:                 #999999 !default;
$gray-darker:                  #333333 !default;
$line:                         #eeeeee !default;

$orange:                       #e65325 !default;
// $orange:                       #f57512 !default;
$red:                          #d45b35 !default;
$green:                        #888d28 !default;
$sky:                          #009cff !default;
$blue:                         #628b9d !default;
$metal:                        #666b78 !default;
$beige:                        #f8f4f1 !default;
$coffee:                       #6c4820 !default;
$maroon:                       #89462e !default;
$smoke:                        #f0f3f7 !default;
// saturated brown
// $brown:                        #e9821a !default;
$brown:                        #e49341 !default;

//=============================================
// Spacing
//=============================================
$quarter:                     .25rem !default;
$half:                        .5rem !default;
$threefourth:                 .75rem !default;
$single:                      1rem !default;

//=============================================
// Layout
//=============================================
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
$image-breakpoints: (
  xs: 576,
  sm: 800,
  md: 1024,
  lg: 1280,
  xl: 1440,
  xxl: 1600
) !default;
$desktop:                         'md' !default;
$container-width:                 1200px !default;
$container-landing-width:         1400px !default;
$container-text-width:            700px !default;

//=============================================
// Elements
//=============================================

// Links //////////////////////////////////////
$link-color:                    #3887BE !default;
$link-hover-color:              #63b6e5 !default;

// List ///////////////////////////////////////
$list-style-type-ul-first:      square !default;
$list-style-type-ul-second:     disc !default;
$list-style-type-ul-third:      circle !default;
$list-style-type-ol-first:      decimal !default;
$list-style-type-ol-second:     lower-alpha !default;
$list-style-type-ol-third:      lower-roman !default;
$list-padding-left:             $single !default;

// // HR ////////////////////////////////////////
// $hr-padding:                    $single*1.25 !default;
// $hr-color:                      #ccc !default;

//=============================================
// Typography
//=============================================
$font-size-root:               18px !default;
$font-size-mini:               16px !default;
$font-size:                    1rem !default;

// Weights ///////////////////////////////////
$font-weight-light:            300 !default;
$font-weight-normal:           300 !default;
$font-weight-medium:           600 !default;
$font-weight-bold:             700 !default;

// Sizes /////////////////////////////////////
$font-size-h1:                 2.074rem !default;
$font-size-h2:                 1.728rem !default;
$font-size-h3:                 1.44rem !default;
$font-size-large:              1.2rem !default;
$font-size-regular:            1rem !default;
$font-size-small:              .833rem !default;
$font-size-micro:              .694rem !default;

// Line Heights /////////////////////////////
$line-height:                  1.45 !default;
$headings-line-height:         1.25 !default;

// Sans Serif /////////////////////////////////
$font-family:                  "Source Sans Pro", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;


//=============================================
// Miscellaneous
//=============================================
//
// Z-Index ///////////////////////////////////
// $zindex-burger:                  7500 !default;
// $zindex-mobile-header:           7000 !default;
//
// $zindex-announcement:            6100 !default;
$zindex-loader:                  6000 !default;
//
// $zindex-panels:                  5700 !default;
// $zindex-modal:                   5600 !default;
// $zindex-primarynav:              5500 !default;
// $zindex-home-content:            5000 !default;
//
// $zindex-gallery:                 5100 !default;
//
// $zindex-cta:                     4200 !default;
// $zindex-footer-main:             4100 !default;
// $zindex-footer-bg:               4000 !default;
//
// $zindex-hero-copy:               3100 !default;
// $zindex-hero:                    3000 !default;
//
//
// //=============================================
// // Components
// //=============================================
//
// // // Callout ///////////////////////////////////
// $callout-bg:                    lighten($black, 97%) !default;

// // // Loader //////////////////////////////////////
// $loader-size:                  $single*2 !default;
// $loader-color:                 $orange !default;

// Banner ///////////////////////////////////
$banner-small-height:          450px !default;
$banner-large-height:          650px !default;
