<div class="ArchiveResource-header">
  <div class="flex-wrapper">
    <p class="noMargin">
      Search results: <strong class="ArchiveResource-headerCounter">55</strong> resources for <em>analytics</em>
    </p>
  </div>

  <div class="flex-wrapper">
    <span class="gray hsmall caps spaced">Sort Results</span>
    <div class="ArchiveResource-sort small medium noLineHeight" data-sort="date">Recent</div>
    <div class="ArchiveResource-sort small medium noLineHeight" data-sort="popular">Popular</div>
    <div class="ArchiveResource-sort small medium noLineHeight" data-sort="relevance">Relevant</div>
  </div>
</div>
