<div class="Pagination" data-component="pagination">
  {# Prev #}
  <div class="Pagination-nav Pagination-prev">
    <svg aria-hidden="true" role="presentation" title="">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#left"></use>
    </svg>
    <span class="hsmall bold brown">{{__('Back', 'gcf')}}</span>
  </div>

  <div class="Pagination-pages hsmall faint"></div>

  {# Next #}
  <div class="Pagination-nav Pagination-next">
    <span class="hsmall bold brown">{{__('Next', 'gcf')}}</span>
    <svg aria-hidden="true" role="presentation" title="">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right"></use>
    </svg>
  </div>
</div>
