<div class="Dropdown" data-component="select" data-select="year">
  <select class="gray hsmall noMargin noPadding noLineHeight">
    <option value="any" selected>{{__('Any Year', 'gcf')}}</option>
    {% for year in years %}
      <option value="{{year}}">{{year}}</option>
    {% endfor %}
  </select>
  <svg aria-hidden="true" role="presentation" title="{{__('Select Year', 'gcf')}}">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down"></use>
  </svg>
</div>
