{# Languages #}
<h5 class="hregular bold brown noMargin">{{__('Available Languages', 'gcf')}}</h5>
<a href="" class="gray underline">{{__('English', 'gcf')}}</a>,&nbsp;
<a href="" class="gray underline">{{__('French', 'gcf')}}</a>,&nbsp;
<a href="" class="gray underline">{{__('Spanish', 'gcf')}}</a>

<div class="Spacer"></div>

{# Share #}
{% include 'components/share.twig' %}
